* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: #d0a2f7;
  --secondary: #d0a2f7;
  --primary_light: #f1eaff;
  --footer: #304146;
  --copy_footer: #64442c;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button {
  display: block;
  cursor: pointer;
  padding: 10px;
}
