/* 404 */

.container__404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img__404_container {
  width: 50vw;
  height: 70vh;
}

.home__page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__page a {
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
}


